#calculator {
    width: 200px;
    height: 200px;

    /* Centering */
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}

form input {
    height: 35px;
    width: 35px;

    margin-top: 3px;
}

#resultField {
    width: 148px;
    height: 25px;
}